
/** loader  start **/
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 80px;
    left: 45%;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #288073;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  

/** loader end  **/


/** Idea Card left start**/

.wrapper{
    display: flex;
}
.card-left-content{
    flex: 0 0 7%; 
    margin-left: 9px;
}

.card-content{
   flex: 1;
}

.fa-caret-up{
    font-size: 65px;
}

.upvote{
    margin-top: 55px;
}

.fa-caret-down{
    font-size: 65px;
}

.downvote{
    margin-top: 0px;
}


.icon.button{
    border-color: #fff;
    border-width: 0;
    color: #9e9e9e;
}

/** Idea Card left end**/


/** Idea card footer start **/

.card-footer{
    padding: 0;
    font-size: 17px;
}

.card-footer-item{
    padding: 0 !important;
    margin-top: 8px;
}

.fa-star{
    font-size: 15px;
    padding-right: 4px;
}

.fa-comments{
    font-size: 15px;
    padding-right: 4px;

}

.badge{
    margin-left: 4px;
    border-radius: 40%;
    padding: 1px 6px;
    background-color: silver;
}

/** Idea card footer end **/

.auth-content{
    margin-top: 120px;
}

.idea-content{
    margin-top: 75px;
}

.text-center{
    text-align: center;
}

.networkError{
    top: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    color: red;
}


.card{
    background-color: #f4f3f3;
}

.auth-error{
    padding: 12px;
    color: red;
    font-weight: bold;
    background-color: #f0e1e1;
    border-radius: 3px;
}


/** Idea hero jumbotron start **/

.hero{
    margin-top: 80px;
    color: #ecf0f1;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    padding: 1em;
    background-color:#288073;
}

.hero .title {
    color: #fff;
    letter-spacing: 6px;
}

.hero-content{
    font-size: 19px;
    line-height: 1.75em;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

/** Idea hero jumbotron end **/

.ideaMargin{
    margin-top: 16px;
}